:root{
    --background-color1: rgb(5, 38, 85);
    --background-color2: rgb(0, 34, 82);
    --alphabet-color: #ffffff;
    --border-color: black;
    --button-color: #1a73e8;
}
.main2{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 20px 20px 0px;
    padding-left: 10px;
}

body{
    height: 100%;
    background-color: var(--background-color2);
    color: var(--alphabet-color);
    display: flex;
    justify-content: center;
    align-items:end;
}
.main{
    margin: 30px 20px 30px 20px;
    /* border: 1px solid var(--border-color); */
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 0px 40px 0px#000000;
}
#citySearch{
    border: 1px solid var(--border-color);
    padding-left: 10px;
    border-radius: 10px;
    height: 25px;
    width: 85%;
    background-color: var(--background-color1);
}
button{
    width: 10%;
    height: 30px;
    background-color: var(--button-color);
    color: var(--alphabet-color);
    border: none;
    border-radius: 10px;
}
.sun, .airq{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
h1{
    font-size: 65px;
}
.details, .otherDetails {
    padding: 0px 20px;

}
